body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button {
  padding: 10px 15px;
  font-size: 22px;
  background-color: white;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 10px;
}

button:hover {
  background-color: rgb(222, 246, 255);
}

.danger {
  border-color: red;
}

button:hover.danger {
  background-color: rgb(255, 198, 198);
}

.toolbar {
  display: flex;
  justify-content: space-around;
}

.sketchpad {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
}

.sketchpad-row {
  display: flex;
  flex: 1;
}

.sketchpad-square {
  flex: 1;
}

.painted-square {
  background-color: black;
}
